# Licensed Asset Store sources and locally generated derivatives.
/Assets/URP GanzSe Free Modular Character Pack/
/Assets/URP GanzSe Free Modular Character Pack.meta
/Assets/LightMaze/Production/Resources/LightMazeProduction/Models/Player_Explorer.prefab*
/Assets/LightMaze/Production/Resources/LightMazeProduction/Models/Enemy_ShadowSoldier.prefab*
/Assets/LightMaze/Production/Resources/LightMazeProduction/Models/Enemy_AbyssGuardian.prefab*
/Assets/LightMaze/Production/Meshes/*_TailoredBody.asset*
/Assets/LightMaze/Production/Animations/Player_Explorer*
/Assets/LightMaze/Production/Animations/Enemy_ShadowSoldier*
/Assets/LightMaze/Production/Animations/Enemy_AbyssGuardian*
